<%= render 'layouts/messages' %>

<% if @stock %>
<div class="alert alert-light" role="alert">
    <strong>Ticker : </strong><%= @stock.ticker %>
    <strong>Name : </strong><%= @stock.name %>
    <strong>Price : </strong><%= @stock.last_price %>
    <% if current_user.can_track_stock?(@stock.ticker) %>
      <%= link_to 'Add to Port Folio', user_stocks_path(user: current_user,ticker: @stock.ticker), 
                                                        class: "btn btn-success", method: :post %>
    <% else %>
    <span>
        you are already tracking
        <% if !current_user.stock_limit? %>
            10 stocks
        <% else %>
            this stock
        <% end %>
    </span>
    <% end %>
</div>
<% end %>